* {
    box-sizing: border-box;
}

/* html {
    font-size: 16px;
} */


body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    padding: 3.625rem 30rem 7.75rem 30rem;
    align-items: center;

    
    /* width: 90rem; */
     
    
    /* top: 50%; */
    /* left: 50%; */
    

}

.header-section {
    display: flex;
}

.right-headers {
    display: flex;
    flex-direction: row;
    margin-left: 29.9rem;
}


.family-option {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.5rem;
    margin-right: 1.12rem;
}

.arrow-down,
.rectangle,
.toggle {
    margin-right: 1.12rem;
}

.arrow-down {
    margin-top: 0.5rem;
}

.hidden{
    display: none;
}



/* container for the toggle */
.toggle {
    background-color: #757575;
    position: relative;
    width: 2.5rem;
    height: 1.25rem;
    flex-shrink: 0;
    border-radius: 1rem;
    overflow: hidden;
    margin-top: 0.2rem;
}

/* this removes the checkbox for the toggle */
.toggle input[type="checkbox"] {
    display: none;
}

/* style for the slider */
.toggle .slider {
    position: absolute;
    cursor: pointer;
    top: 0.2rem;
    left: 0.18rem;
    width: 0.875rem;
    height: 0.875rem;
    background-color: #ffffff;
    border-radius: 50%;
    transition: 0.4s;

}

.search {
    position: relative;
    display: inline-block;
}

.search-bar {

    margin-top: 3.22rem;
    margin-bottom: 3.22rem;
    width: 46rem;
    height: 4rem;
    border-radius: 1rem;
    padding-left: 1rem; 

}

.search-icon {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
}

.word-section {
    display: flex;
    justify-content: space-between;
}

.phonetics {
    color: var(--A445ED, #a445ed);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.grammar, .source {
    display: flex;
}

.grammar-line {
    width: 41rem;
    height: 0.32rem;
    margin-top: auto;
    margin-left: 1.813rem;
    flex-shrink: 0;
}

.grammar-type {
    color: #2D2D2D;
    margin-top: 2.5rem;
    font-style: italic;
    font-weight: bold;

}

.dict-word {
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: inter;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.description {
font-family: Lora;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: 1.5rem;
}



.sus{
    font-family: lora;
    color: #757575;
    font-feature-settings: "clig" off, "liga" off;
    margin-right: 1rem;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.grammar-type-meaning, .synonym{
    font-family: lora;
    color: #757575;
    font-feature-settings: "clig" off, "liga" off;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.sus-link{
    color: #2D2D2D;
    font-feature-settings: "clig" off, "liga" off;
    font-family: lora;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.tabler-external-link{
    width: 0.75rem;
    flex-shrink: 0;
    margin-left: 0.4rem;
}

.footer-line{
    width: 46rem;
    height: 0.063rem;
    margin-top: 2.313rem;
    margin-bottom: 1.188rem;
}
/* 
@media (max-width: 575.98px) {
    body{
        width: 100%;
        padding: 1rem;

    }
    .right-headers{
        display: flex;
        margin-right: 20%;
    }
}
 */
